# Python artifacts
*.pyc
*.pyo
__pycache__/

# Virtual environments
dual_autodiff_venv/
clean_venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cython build artifacts
*.c
*.so
*.pyd

# Build directories
build/
dist/
*.egg-info/

# Cache
pytest_cache/
.vscode/

# macOS-specific files
.DS_Store
