activate_venv.sh

venv/

build/

source/

.vscode/

.ipynb_checkpoints/

make.bat

makefile

dual_autodiff_venv/

dual_autodiff.egg-info/

dist/

__pycache__/

docs/

dual_autodiff_x/test_env/

DualNum/version.py